body {
    /* background-color: #4b5990;     */
    background-color: #d8eff0
}
h1, h2, h3, label, legend {
    /* color: #e0e1ec; */
    color: #1c2728;
}
fieldset {
    display: inline-block;
    width: 300px
}
#button {
    border: solid;
    border: #a5a8c7;
    background-color: #a5a8c7;
    width: 75px;
    height: 50px;
    display: inline-block;
}
#buttonText {
    text-align: center;
}

/* Added from book example */
#errorText {
   display: none;
   text-align: center;
   padding: 10px;
   margin: 0 auto;
   margin: 15px 15px 0;
   background: rgb(124,124,136);
   color: white;
   border: 2px solid rgb(190,50,38);
}