body {
    background-color: #4b5990;    
}
h1, h2, h3, label, legend {
    color: #e0e1ec;
}
fieldset {
    display: inline-block;
}
#button {
    border: solid;
    border: #a5a8c7;
    background-color: #a5a8c7;
    width: 200;
    height: 150;
    display: inline-block;
}
