h1, h3 {
    text-align: center;
    font-family: "Consolas";
}
body {
    background-color: #789bd3;
}
.table {    
    display: inline-block;    
    padding-right: 50px;
    height: 402px;
}
#sidebar {    
    width: 500px;
    float: left;
    padding-right: 50px;
    background: #a2c2f2;
}
p {
    text-align: justify;
    font-family: "Arial";    
}
.col1 {
    display: inline-table;
    list-style: none;
    text-align: left;    
}
.col2 {
    display: inline-table;
    list-style: none;
    text-align: right;        
}
li:nth-child(even) {
    background: #6486bc;
}
li:nth-child(odd) {
    background: #a2c2f2;
}
#wrapper {
    text-align: center;    
}
#button {    
    display: block;
    text-align: center;
    padding-top: 10px;
}